# Node.js dependencies
/node_modules

# Build files
/build
/dist

# Environment variables
.env

# Logs
/logs

# Cache
/.cache

# Dependency lock files
/yarn.lock
/package-lock.json

 

# React specific files
/public/build
/public/.env